body {
  background-color: darkred;
}

header {
  background-color: darkred;
  color: gold;
  text-align: center;
}
main

footer {
  background-color: darkred;
  color: gold;
}

.internal_link {
  color: gold;
  text-decoration: none;
}

.picture-text-box {
  border-style: groove;
  border-color:blue;
  border-radius: 5%;
  column-count: 2;
  background-color: whitesmoke;
  margin: 60px;
  padding: 10px;
  display: inline-block;
}

img {
  height: 300px;
  width: 225px;
}