body {
  background-color: red;
}

header {
  background-color: black;
  color: white;
  text-align: center;
  min-height: 95px;
}

h1 {
  float: left;
  padding-left: 50px;
}

footer {
  background-color: black;
  color: white;
}

.internal_link {
  color: white;
}

.picture-text-box {
  border-style: double;
  border-color: blue;
  border-width: 10px;
  border-radius: 10%;
  background-color: whitesmoke;
  margin: 5px;
  padding: 10px;
  max-width: 600px;
  min-height: 350px;
}

img {
  height: 250px;
  width: 200px;
  padding-right: 20px;
  padding-left: 10px;
  float: left;
}

h3 {
  text-align: center;
}

a {
  text-decoration: none;
  color: blue;
}
p {
  overflow: hidden;
}